@use "@rhuanResende/design-system/styles/ds" as *;

$password: "password";

.#{$password} {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  background: $ds-bg-primary;
  padding: $ds-spacing-md;

  &__logo {
    width: 250px;
  }

  &__content {

  }
}
