<main class="password">

  <section fxLayout="row" fxLayoutAlign="center center">
    <img
      src="assets/images/logo_transparente.png"
      alt="Stockbeer"
      class="password__logo">
  </section>

  <section fxLayout="row" fxLayoutAlign="center center">
    <form
      class="ds-gap-md"
      [formGroup]="passwordForm"
      fxFlex="30">

      <ds-card-base
        class="password__content"
        dsTitle="Nova Senha"
        dsIconBubbleIconConfig="fa-solid fa-lock">

        <ds-input-password
          formControlName="currentPassword"
          dsLabel="Senha anterior"
          dsPlaceholder="Insira sua senha anterior">
        </ds-input-password>

        <ds-input-password
          formControlName="newPassword"
          dsLabel="Nova senha"
          dsPlaceholder="Insira sua nova senha">
        </ds-input-password>

        <ds-input-password
          formControlName="confirmPassword"
          dsLabel="Confirmar senha"
          dsPlaceholder="Confirme sua senha">
        </ds-input-password>

        <ds-button
          dsLabel="Alterar senha"
          [dsFullWidth]="true"
          [dsDisabled]="passwordForm.invalid"
          (dsOnClick)="changePassword()">
        </ds-button>
      </ds-card-base>
    </form>
  </section>
</main>
