<main class="password">
  <section fxLayout="column" fxLayoutAlign="space-between stretch">
    <form
      class="ds-gap-md"
      fxLayout="column"
      [formGroup]="passwordForm"
      (keydown.enter)="changePassword()">
      <section
        fxLayout="row"
        fxLayoutAlign="center center">
        <img
          class="password__logo"
          src="assets/images/logo_transparente.png"
          alt="Stockbeer">
      </section>
      <section
        fxLayout="row"
        fxLayoutAlign="center center">
        <ds-card-base
          fxFlex="40"
          fxFlex.lt-md="90"
          dsTitle="Nova Senha"
          dsIconBubbleIconConfig="fa-solid fa-lock">
          <section
            class="ds-gap-md"
            fxLayout="column">
            <ds-input-password
              formControlName="currentPassword"
              dsLabel="Senha anterior"
              dsPlaceholder="Insira sua senha anterior"
              dsIconConfig="fa-solid fa-key"
              [dsIconAlign]="dsInputIconAlign.left">
            </ds-input-password>
            <ds-input-password
              formControlName="newPassword"
              dsLabel="Nova senha"
              dsPlaceholder="Insira sua nova senha"
              dsIconConfig="fa-solid fa-key"
              [dsIconAlign]="dsInputIconAlign.left">
            </ds-input-password>
            <ds-input-password
              formControlName="confirmPassword"
              dsLabel="Confirmar senha"
              dsPlaceholder="Confirme sua senha"
              dsIconConfig="fa-solid fa-key"
              [dsIconAlign]="dsInputIconAlign.left">
            </ds-input-password>
            <ds-button
              dsLabel="Alterar senha"
              [dsFullWidth]="true"
              [dsDisabled]="passwordForm.invalid"
              (dsOnClick)="changePassword()">
            </ds-button>
          </section>
        </ds-card-base>
      </section>
    </form>
  </section>
</main>
