.layout {
  width: 100%;
  height: 100vh;

  &__body {
    flex: 1;
    min-height: 0;
  }

  &__content {
    flex: 1;
    min-height: 0;
    overflow: auto;
    background: #f7f9fa;

    &__page {
      overflow-y: auto;
    }
  }
}
