@use "@rhuanResende/design-system/styles/ds" as *;

$login: "login";

.#{$login} {

  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;

  &__left-card {
    background: $ds-bg-primary;

    &__logo {
      width: 100%;
      max-width: 400px;
    }
  }
}
