<main class="login">
  <section
    fxFlex
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between stretch">
    <section
      class="login__left-card"
      fxFlex="60"
      fxFlex.lt-md="40"
      fxLayout="column"
      fxLayoutAlign="center center">
      <img
        class="login__left-card__logo"
        src="assets/images/logo_transparente.png"
        alt="Stockflow"/>
    </section>
    <section
      class="login__right-card"
      fxFlex="40"
      fxFlex.lt-md="60"
      fxLayout="column"
      fxLayoutAlign="center center">
      <section
        fxLayout="row"
        fxLayoutAlign="center center">
        <ds-card-base
          dsTitle="Acesse sua conta Stockflow"
          dsIconBubbleIconConfig="fa-regular fa-user">
          <section
            fxLayout="column"
            class="ds-gap-md">
            <form
              class="ds-gap-md"
              fxLayout="column"
              [formGroup]="loginForm"
              (keydown.enter)="onLogin()">
              <ds-input-document
                formControlName="document"
                dsLabel="CPF"
                dsPlaceholder="000.000.000-00"
                dsIconConfig="fa-regular fa-id-card"
                [dsIconAlign]="dsInputIconAlign.left"
                [dsType]="dsDocumentType.cpf">
              </ds-input-document>
              <ds-input-password
                formControlName="password"
                dsLabel="Senha"
                dsPlaceholder="Senha"
                dsIconConfig="fa-solid fa-key"
                [dsIconAlign]="dsInputIconAlign.left">
              </ds-input-password>
              <ds-button
                dsLabel="Entrar"
                [dsFullWidth]="true"
                [dsDisabled]="loginForm.invalid"
                (dsOnClick)="onLogin()">
              </ds-button>
            </form>
          </section>
        </ds-card-base>
      </section>
    </section>
  </section>
</main>
